{% extends 'base.html' %}

{% block title %} Speed App {% endblock %}

{% block content %}
    <div style="width: 45%; display: inline-block; vertical-align: top; text-align: center">
        <h1> Welcome {{ name }}!</h1>
        <div style="width: 100%;">
            <table style="width: 100%;">
                <tr>
                    <th> Date </th>
                    <th> Activity Name </th>
                    <th> Activity Type </th>
                    <th> Elapsed Time </th>
                </tr>
                {% for activity in activities %}
                <tr onclick="get_activity({{ activity['id'] }});" style="cursor:pointer;">
                    <td>{{ activity['start_date']|strftime }}</td>
                    <td>{{ activity['name'] }}</td>
                    <td>{{ activity['type'] }}</td>
                    <td>{{ activity['elapsed_time']//60 }} min</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div style="margin: auto; width: 45%; text-align: center;">
            {% if page != 1%}
            <a href="{{ url_for('activities', page=page-1) }}">Previous</a> &emsp; &emsp;
            {% endif %}
            {% if activities|length == session['activities_per_page'] %}
            <a href="{{ url_for('activities', page=page+1) }}">Next</a>
            {% endif %}
        </div>
    </div>
    <div id="data" style="width: 50%; display:inline-block; vertical-align: top;">
        <p class="no_data_text">No data yet!</p>
    </div>
    
{% endblock %}